/* General typography */

/* Account based */
.account
  &.only
    display: none
    a
      font-weight: bold
      img
        display: inline-block
        width: 19px
        margin-right: 5px

/* Registration page */
.registration
  padding-top: 175px
  .form
    text-align: center
    padding-top: 15px
    border-radius: 10px
    font-size: 1.3em
    label
      text-align: left
      font-weight: 400
      width: 100%
    button
      padding: 15px
    .red
      color: red

/* Homepage */
.masthead
  height: 100vh
  min-height: 500px
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

