/* General typography */

/* Account based */
.account
  &.only
    display: none
    a
      font-weight: bold
      img
        display: inline-block
        width: 19px
        margin-right: 5px

/* Registration page */
.registration
  padding-top: 175px
  .form
    text-align: center
    padding-top: 15px
    border-radius: 10px
    font-size: 1.3em
    label
      text-align: left
      font-weight: 400
      width: 100%
    button
      padding: 15px
    .red
      color: red

/* Homepage */
.masthead
  height: 100vh
  min-height: 500px
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
/* Dashboard */
.dashboard
  margin-top: 5%
  .table
    text-align: center
  .record
    h2
      text-align: center
  .input-group-text
    img
      height: 20px
  .datepicker-dropdown
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
  .datepicker td, .datepicker th
    width: 2.5rem
    height: 2.5rem
    font-size: 0.85rem
  .datepicker
    margin-bottom: 3rem

